/*The Styles for the Element*/
html{
    background-color: white;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:100%;
    width:95%;
    margin:0 auto 0;
    padding:15px;
    background-color:#cfcdccd3;
    border: 5px solid black; 
    
}
a:hover, a:focus {
    font-style:italic;
}
a:visited {
    color:#e86427;
}
ul.circle{list-style-type:circle;}
/*The Sytles for the header*/
header {
    background-color: #918f8e;
    border: 3px solid black;
    height:80px;
    padding-bottom: 5px;
}
header img {
    float:left;
    margin-left:75px;
    margin-right:-75px;
    background-color: #918f8e;
    height: 75px;
    
}
header h2 {
    font-size: 200%;
    text-align: center;
    color: #e86427;
    text-shadow: 2px 2px 2px black;
    height: 75px;
}


/*Styling for the Nav Menu*/
#nav_menu ul{
    list-style-type: none;
    padding:1em 0;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#nav_menu ul li{
    display: inline;
    padding: 0 1.5em;
    
}
#nav_menu ul li a{
    font-weight: bold;
    color: black;
    
}
#nav_menu ul li a.current {color: #e86427;}
main{
    width:95%;
}
main ul{
    /*list-style-type: none;*/
    border-bottom: 2px solid black;
    padding-left: 20%;
}
main ul li{
    display:inline;    
}
main ul li img{
    height: 100px;
    margin-left:20px;
    border: 2px solid black;
    
}
main article h1{
    font-size: 175%;
    font-weight: bold;
    color:black;
}
main article{
    font: 100%;
    width:70%;
    float:left;
    color: black;
}
main aside{
    width:25%;
    float:right;
}
main aside h2 {
    font-size:150%;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    text-align: center;
}
main aside ul li{
    font-size: 100%;
    display:block;
}