/*The Styles for the Element*/
html{
    background-color: white;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:100%;
    max-width:900px;
    width:98%;
    margin:0 auto 0;
    padding:15px;
    background-color:#cfcdccd3;
    border: 5px solid black; 
    
}
a:hover, a:focus {
    font-style:italic;
}
a:visited {
    color:#e86427;
}

/*The Sytles for the header*/
header {
    background-color: #918f8e;
    border: 3px solid black;
    height:80px;
    padding-bottom: 5px;
}
header img {
    float:left;
    margin-left:50px;
    background-color: #918f8e;
    height: 75px;
    
}
header h2 {
    font-size: 200%;
    text-align: center;
    color: #e86427;
    text-shadow: 2px 2px 2px black;
    height: 75px;
}
/*Styling for the Nav Menu*/
#nav_menu ul{
    list-style-type:none;
    margin-left:0;
    margin-right:1.5em;
    padding:0;
}
#nav_menu ul li{
    width:200px;
    margin-bottom: .5em;
    border:2px solid black;
    background-color: #918f8e;
    
}
#nav_menu ul li a{
    display:block;
    padding: .5em 0 .5em 1.5em;
    text-decoration: none;
    font-weight:bold;
    color: black;
}